* {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 7px;
  margin-bottom: 100px;
}

.nav--title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.card--image {
  width: 125px;
  height: 170px;
  border-radius: 6px;
  margin-right: 19px;
}

.card {
  margin-inline: 40px;
  margin-block: 36px;
  display: flex;
  justify-content: center;
}

.card--info {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
}

.card--topline {
  padding-top: 20px;
}

.card--location {
  letter-spacing: 0.17em;
  margin-left: 4px;
}

.card--google {
  margin-left: 12px;
  color: #918e9b;
}

.card--title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-block: 7px;
}

.card--dates {
  font-size: 10px;
  margin-block: 7px;
}

.card--para {
  line-height: 150%;
  width: 326px;
}

hr {
  border: 1px solid #f5f5f5;
  margin-inline: 10%;
}
